//https://www.youtube.com/watch?v=m3SOwcXUsIQ
@import '../../../../partials/mixins.scss';
@import '../../../../partials/fonts.scss'; 
@import '../../../../partials/variables.scss';

.card {
  @include flex-col;
  &__container {
    display: inline-block;
    width: 18rem;
    height: 27rem;
    background-color: white; 
    border: 1px solid grey;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    box-shadow: 0px 5px 9px -1px rgba(0, 0, 0, 25);
    &:hover {
      transform: scale(1.01);
      box-shadow: none;
    }
  }
  &__img {
    width: 100%; 
  }

  &__button-place {
    margin-left: auto;
    margin-right: auto;
  }

  &__button {
    border: 1px solid orange;
    background-color: #f3ead1;
    border-radius: 0.4rem;
    height: 2.5rem;
    width: 8rem;
    margin-top: 0.5rem;
    &:hover {
      background-color: #f4991a;
    }
  }

  &__text {
    margin-bottom: 0rem;
    text-align: center;
  }

  .bold {
    font-weight: 700;
  }
}

  