@import '../../../../partials/variables';
@import '../../../../partials/mixins';
@import '../../../../partials/fonts';

.filter-by {
  width: 100%;
  @include tablet {
    width: 20vw;
  }
  &__gender {
    width: 100%;
    @include tablet {
      width: 20vw;
    }
  }
  &__button-product {
    background-color: #f3ead1;
    border-radius: 0.5rem;
    width: 100%;
    height: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    @include tablet {
      margin: 0;
    }
  :hover {
    background-color: #f4991a;  
  }
}
}

.filter-result {
  margin: 3rem 0rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}

