@import '../../partials/variables';
@import '../../partials/mixins';
@import '../../partials/fonts'; 


.body {
  display: flex;
  flex-direction: column;
  @include tablet {
    display: flex;
    flex-direction: row;
    padding-top: 8rem;
    margin-left: 2rem;
    &__shoes {
      display: flex;
      justify-content: center;
      @include tablet {
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-right: 2rem;
      }
    }
  }
}