@import '../../partials/variables';
@import '../../partials/mixins';
@import '../../partials/fonts'; 


.body {
  display: flex;
  flex-direction: column;
  @include tablet {
    
    flex-direction: row;
    padding-top: 8rem;
    &__shoes {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
  }
  }

}
