@import '../../../../partials/mixins';

.colours__list {
  @include flex-center;
}

.black {
  background-color: black;
  @include colour-circles;
}

.white {
  background-color: white;
  border: 1px solid black;
  @include colour-circles;
}

.blue {
  background-color: blue;
  @include colour-circles;
}

.red {
  background-color: red;
  @include colour-circles;
}