@import '../../../../partials/variables';
@import '../../../../partials/mixins';
@import '../../../../partials/fonts'; 

.product {
  padding-top: 0;
  @include tablet {
    @include flex-row;

    &__img {
      width: 40rem;
    }
  }
  &__img-box {
    border: 1px solid white;
  }
  &__details {
    border: 1px solid white
  }
}