@import '../../partials/variables';
@import '../../partials/mixins';
@import '../../partials/fonts'; 

.body-basket {
  padding-top: $padding-top;
  padding-bottom: 10rem;
  @include flex-col;
  @include tablet {
    @include flex-row;
    justify-content: center;
    flex-wrap: wrap;
  }
}
// .body-button {
//   padding-top: 15rem;
// }

